div.tooltip {
    position:absolute;
    background-color:#BABFCC;
    z-index:999;
    left:-9999px;
    padding:5px;
    width:250px;
    border-style:solid;
    border-color:#A6ABB8;
}

div.tooltip { 
    -moz-border-radius: 5px;
    border-radius:5px;
    -webkit-border-radius:5px;
}

p.tooltip {
    margin:0;
    padding:0;
    color:#fff;
    background-color:#222;
    padding:2px 7px;
}

